.sticky {
	display: block;
}

// these classes are applied to the body element
// depending on the post-type
.post,
.page {
	// margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

// we are using this element as our site-wrap
// and as the "relative" parent for our
// fixed &/or absolute nav
// if needed, would could instead use
// the .site-main to hide overflow-x
#page {
	overflow-x: hidden;
	position: relative;
	margin-top: 70px;
}

.single-episode,
.page:not(.home),
.blog,
.archive,
.search,
.error404,
.single-post {
	main {
		padding-top: 4.5rem;
	}
}



.page-header,
.entry-header {
	margin: 0 auto 2rem;

	.page-title,
	.entry-title {
		color: $adobe;

		a {
			color: $adobe;
			text-decoration: none;
		}
	}
}

.home .entry-header {
	display: none;
}


.error404 {
	.page-content {
		@include container-large;
	}
}

.search {
	.page-container {
		@include container-large;
		* {
			text-align: left !important;
		}
		.post-thumbnail {
			display: none;
		}
		article {
			padding: 3rem 1.5rem;
			border-bottom: 1px solid $adobe;
		}
		.entry-header {
			margin: 0;
		}
		.entry-meta {
			margin-bottom: 1.5rem;
		}
	}
}

.page-header,
.single-episode .entry-header,
.single-post .entry-header,
.page .entry-header,
.entry-footer,
.comments-area,
.entry-summary {
	@include container;
}

.page-header,
.single-episode .entry-header,
.single-post .entry-header,
.page .entry-header,
.entry-footer,
.entry-summary {
	text-align: center;
}

.page-header,
.page .entry-header {
	margin: 0 auto 8rem;

	h1 {
		position: relative;

		&::after {
			content: url(inc/images/icon-moon-adobe.svg);
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -3.5rem;
		}
	}
}

.post-thumbnail {
	display: block;
	margin: 0 auto 3rem;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 50%;
		height: auto;
		padding-top: 84%;
		border-radius: 400px;
		border: 1px solid $adobe;
		top: -4%;
		left: 25%;
		z-index: 1;
	}

	.thumb-wrap {
		position: relative;
		width: 100%;
		padding-top: 78%;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: center;
		}
	}

	.placeholder {
		width: 100%;
		padding-top: 78%;
		background-color: $rose;
		position: relative;

		& > div {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		svg {
			fill: $adobe;
			width: 225px;
			height: 180px;
			max-width: 100%;
		}
	}
}


.blog,
.archive {

	article {
		@include container-large;
		margin-bottom: 6rem;
	}

	.post-thumbnail {
		max-width: 460px;
	}

	@media (min-width: $large) {
		article {
			.entry-header {
				text-align: center;
			}

			&:first-of-type {
				.entry-wrap {
					width: 70%;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
				}
			}
		}

		article:not(:first-of-type) {
			display: flex;
			align-items: flex-start;
			justify-content: center;

			.post-thumbnail {
				flex: 1 1 50%;
				width: 50%;

				&::after {
					width: 50%;
					padding-top: 34%;
					top: auto;
					bottom: -22%;
					left: 0;
				}
			}

			.entry-wrap {
				flex: 1 0 50%;
				width: 50%;
				margin-left: 2.5rem;
				margin-right: 2.5rem;
			}

			.entry-header {
				text-align: left;
			}

			&:nth-of-type(odd) {
				.post-thumbnail {
					order: 2;
				}
				.entry-wrap {
					order: 1;
				}
			}
		}
	}
}

.episode {
	.post-thumbnail {
		.thumb-wrap {
			padding-top: 100%;
		}

		&::after {
			width: 24%;
			padding-top: 36%;
			top: 0;
			left: auto;
			right: -12%;
		}
	}

	.placeholder {
		padding-top: 100%;
	}
}


.post-type-archive-episode {
	.post-thumbnail {

		// play button
		&::before {
			content: url(inc/images/icon-play.svg);
			width: 50px;
			height: 50px;
			display: block;
			position: absolute;
			right: 0;
			bottom: -25px;
			z-index: 1;
		}

	}
	@media (min-width: $large) {
		.episode-grid {
			@include container-large;

			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
		}

		article {
			display: block;
		}

		article:first-of-type {
			flex: 1 0 100%;
		}

		article:not(:first-of-type) {
			flex: 0 1 33.333%;
			display: block;
			padding-left: 20px;
			padding-right: 20px;
			margin: 0 0 3rem;

			.post-thumbnail {
				width: 100%;

				&::after {
					display: none;
				}
			}

			.entry-wrap {
				margin: 0;
				width: 100%;
			}

			.entry-title {
				font-size: 1.3125rem; // 21px
				letter-spacing: 0.0875rem; // 1.4px
			}

			.entry-content {
				display: none;
			}
		}
	}
}

.single-episode,
.single-post {

	article {
		@include container;
	}

	.entry-header {
		@media (min-width: $medium) {
			text-align: center;
		}
	}

	.post-thumbnail {
		max-width: 536px;
	}

	.entry-content {
		@include container;
		max-width: 715px;
		padding-bottom: 4rem;

		h3 {
			margin-top: 3rem;
		}
	}
}

.share-links__wrap {
	@include container;
	padding: 1.5rem;
	border-top: 1px solid $adobe;
	text-align: center;

	h4 {
		margin-top: 0;
		margin-bottom: 0.75rem;
	}

	.share-links {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}

.subscribe-links__wrap {
	border-top: 0;
	padding: 6rem 1.5rem;

	h4 {
		text-transform: none;
		margin-bottom: 3.125rem;
	}
}

.read-more {
	display: inline-block;
	margin-top: 1.5rem;
}

.page-links {
	clear: both;
}

.display-posts-listing {

	.listing-item {
		max-width: 300px;
		margin-bottom: 3rem;
	}

	.image,
	.title,
	.excerpt {
		display: block;
	}

	.excerpt-dash {
		display: none;
	}

	.title {
		color: $adobe;
		font-family: $font__headings;
		font-size: 1.3125rem;// 21px
		letter-spacing: 0.0875; // 1.4px
		text-decoration: none;
	}

	.image {
		position: relative;
		width: 100%;
		padding-top: 78%;
		margin-bottom: 1.5rem;

		&::after {
			content: '';
			position: absolute;
			width: 50%;
			height: auto;
			padding-top: 84%;
			border-radius: 400px;
			border: 1px solid $adobe;
			top: -4%;
			left: 25%;
			z-index: 1;
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: center;
		}
	}

	@media (min-width: $medium) {

		display: flex;

		.listing-item {
			max-width: none;
			flex: 1 1 33.333%;
			padding: 0 1rem;
		}
	}
}

.display-episodes {
	.image {
		padding-top: 100%;

		&::before {
			content: url(inc/images/icon-play.svg);
			width: 50px;
			height: 50px;
			display: block;
			position: absolute;
			right: 0;
			bottom: -25px;
			z-index: 1;
		}

		&::after {
			display: none;
		}
	}
}

.player {
	margin-bottom: 2rem;
}

.single-episode {
	#fbxt-wrap {
		margin-bottom: 4.5rem;

		#fbxt-wrap--inner {
			font-family: $font__main;

			.fbxt-header {
				background-color: $rose;
				color: $plum;
			}

			.fbxt-header--logo {

				svg {
					fill: $cream;

					circle {
						fill: $plum;
						opacity: 1;
					}
				}
			}

			span {
				color: $plum;
			}

			.fbxt-header--nav .fbxt-header--nav-item {

				a {
					color: $plum;
				}

				svg {
					fill: $plum;
				}
			}
		}

		.fbxt-credits {
			display: none !important;
		}
	}
}