/* Color Utility Classes
--------------------------------------------- */
@import url("https://use.typekit.net/lls0cqm.css");
.has-white-color {
	color: #fff;
}

.has-white-background-color {
	background-color: #fff;
}

.has-cream-color {
	color: #F3EEED;
}

.has-cream-background-color {
	background-color: #F3EEED;
}

.has-almond-color {
	color: #ECE1DF;
}

.has-almond-background-color {
	background-color: #ECE1DF;
}

.has-rose-color {
	color: #D5B1A9;
}

.has-rose-background-color {
	background-color: #D5B1A9;
}

.has-adobe-color {
	color: #BB8472;
}

.has-adobe-background-color {
	background-color: #BB8472;
}

.has-plum-color {
	color: #2A1048;
}

.has-plum-background-color {
	background-color: #2A1048;
}

.has-textgray-color {
	color: #3B3835;
}

.has-textgray-background-color {
	background-color: #3B3835;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: #3B3835;
	font-family: brandon-grotesque, Futura, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 0.9375rem;
	line-height: 1.5;
}

@media (min-width: 762px) {
	body,
	button,
	input,
	select,
	optgroup,
	textarea {
		font-size: 1.1875rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
	color: #BB8472;
}

.has-color h1, .has-color h2, .has-color h3, .has-color h4, .has-color h5, .has-color h6, .has-color a,
.has-text-color h1,
.has-text-color h2,
.has-text-color h3,
.has-text-color h4,
.has-text-color h5,
.has-text-color h6,
.has-text-color a {
	color: inherit;
}

h1, .h1 {
	font-family: angie-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.125;
	margin-bottom: 1.25rem;
}

h2, .h2 {
	font-family: angie-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-weight: 700;
	font-size: 1.5625rem;
	line-height: 1.125;
	margin-bottom: 1.25rem;
}

h3, .h3 {
	font-family: brandon-grotesque, Futura, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 1.25rem;
	text-transform: uppercase;
	letter-spacing: 0.12rem;
	line-height: 1.4;
	margin-bottom: 1.75rem;
}

h4, .h4 {
	font-family: brandon-grotesque, Futura, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 0.06rem;
	margin-top: 1.75rem;
	margin-bottom: 1.25rem;
}

h5, .h5 {
	font-family: angie-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-weight: 600;
	font-size: 0.9375rem;
	text-transform: uppercase;
	letter-spacing: 0.08rem;
}

h6, .h6 {
	font-family: brandon-grotesque, Futura, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 0.9375rem;
	text-transform: uppercase;
	letter-spacing: 0.08rem;
}

@media (min-width: 762px) {
	h1, .h1 {
		font-size: 2.5rem;
	}
	h2, .h2 {
		font-size: 2.125rem;
	}
	h3, .h3 {
		font-size: 1.625rem;
	}
	h5, .h5 {
		font-size: 1.1875rem;
	}
	h6, .h6 {
		font-size: 1.1875rem;
	}
}

.is-style-underline {
	display: inline-block;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 1rem;
	background-image: linear-gradient(to right, #BB847242, #BB847242);
	background-repeat: repeat-x;
	background-position: 0 90%;
	background-size: 100% 30px;
}

.has-plum-background-color .is-style-underline {
	background-image: linear-gradient(to right, #250d40b0, #250d40b0);
}

h4.is-style-underline {
	display: inline-block;
	margin-bottom: 0.5rem;
	background-image: linear-gradient(to right, #bb847226, #bb847226);
	background-size: 100% 24px;
	padding-bottom: 0.75rem;
}

@media (min-width: 600px) {
	h4.is-style-underline {
		display: block;
	}
}

@media (min-width: 960px) {
	h4.is-style-underline {
		font-size: 1.1875rem;
	}
}

.arrow-right::after {
	content: url(inc/images/icon-arrow-down.svg);
	position: relative;
	display: block;
	top: -1rem;
}

@media (min-width: 600px) {
	.arrow-right {
		position: relative;
	}
	.arrow-right::after {
		content: url(inc/images/icon-arrow-right.svg);
		position: absolute;
		right: -1.5rem;
		top: auto;
		bottom: 1.125rem;
	}
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5rem;
}

blockquote p {
	position: relative;
	font-style: italic;
}

blockquote p::before {
	content: '\201C';
	font-family: angie-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2.625rem;
	position: absolute;
	top: -0.875rem;
	left: -1.5rem;
}

.has-plum-background-color blockquote p::before {
	color: #F3EEED;
	opacity: 0.37;
}

blockquote p::after {
	content: '\201D';
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #ECE1DF;
	text-decoration: none;
}

.editor-styles-wrapper .has-large-font-size,
.has-large-font-size,
.big,
big {
	font-size: 121%;
}

body {
	background: #F3EEED;
}

hr {
	background-color: #BB8472;
	border: 0;
	height: 1px;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

[data-type="core/list"] ul,
.entry-content ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

[data-type="core/list"] ul li,
.entry-content ul li {
	margin-bottom: 1rem;
}

[data-type="core/list"] ul li::before,
.entry-content ul li::before {
	content: url(inc/images/icon-star-plum-small.svg);
	margin-right: 0.5rem;
}

[data-type="core/list"] .text-center li,
[data-type="core/list"] .is-style-centered li,
.entry-content .text-center li,
.entry-content .is-style-centered li {
	text-align: center;
	padding-top: 1rem;
	margin-bottom: 1.5rem;
	position: relative;
}

[data-type="core/list"] .text-center li::before,
[data-type="core/list"] .is-style-centered li::before,
.entry-content .text-center li::before,
.entry-content .is-style-centered li::before {
	position: absolute;
	top: -0.5rem;
	left: 0;
	width: 100%;
	text-align: center;
	margin-right: 0;
}

.has-cream-color ul li::before,
.has-cream-text-color ul li::before,
.has-background-color ul li::before {
	content: url(inc/images/icon-star-cream.svg);
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

.hover-opacity {
	opacity: 1;
	transition: opacity 250ms ease-in-out;
}

.hover-opacity:hover {
	opacity: 0.75;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

a {
	color: #2A1048;
	font-weight: 700;
}

a:hover, a:focus, a:active {
	color: #BB8472;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #3B3835;
	border: 1px solid transparent;
	border-radius: 0;
	padding: 5px 8px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #3B3835;
	outline: none;
	border: 1px solid #BB8472;
}

select {
	border: 1px solid #BB8472;
}

textarea {
	width: 100%;
}

[type="checkbox"],
[type="radio"] {
	margin-right: 0.5rem;
}

label {
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

/* Gravity Forms Overrides */
.gform_wrapper form .field_sublabel_above .ginput_complex.ginput_container label,
.gform_wrapper form label.gfield_label {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 1.5;
	color: #BB8472;
}

.gform_wrapper form .gfield_contains_required .ginput_complex.ginput_container label {
	display: inline-block;
}

.gform_wrapper form .gfield_contains_required .ginput_complex.ginput_container label::after {
	content: '*';
}

.gform_wrapper form li.hidden_label input,
.gform_wrapper form .top_label .gfield div.ginput_container {
	margin-top: 0;
}

.gform_wrapper form span.gfield_required {
	color: #BB8472;
	margin-left: 4px;
}

.gform_wrapper form .gfield_contains_required .ginput_complex.ginput_container label {
	display: inline-block;
}

.gform_wrapper form .gfield_contains_required .ginput_complex.ginput_container label::after {
	content: '*';
	padding-left: 4px;
}

.gform_wrapper form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper form textarea {
	padding: 5px 8px;
}

.gform_wrapper form ul.gfield_checkbox li input,
.gform_wrapper form ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper form ul.gfield_checkbox li input[type=radio],
.gform_wrapper form ul.gfield_radio li input,
.gform_wrapper form ul.gfield_radio li input[type=checkbox],
.gform_wrapper form ul.gfield_radio li input[type=radio] {
	margin-top: 0 !important;
}

.gform_wrapper form ul.gfield_checkbox li label,
.gform_wrapper form ul.gfield_radio li label {
	color: #BB8472;
}

.gform_wrapper form .gform_footer {
	text-align: center;
}

@media only screen and (max-width: 641px) {
	.gform_wrapper form .gform_footer input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
		width: auto;
		line-height: 1;
		min-height: 0;
	}
}

@media only screen and (min-width: 641px) {
	.gform_wrapper form {
		padding-left: 16px;
	}
}

/* Navigation
--------------------------------------------- */
.site-header {
	position: fixed;
	width: 100%;
	height: 70px;
	padding-left: 22px;
	padding-right: 22px;
	top: 0;
	left: 0;
	background-color: #F3EEED;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
}

.site-branding {
	z-index: 1;
}

.site-branding .site-title {
	line-height: 1;
}

.site-branding h1, .site-branding p {
	margin-bottom: 0;
}

.back-to-top {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 63px;
	height: 104px;
	border-radius: 40px;
	background-color: #ECE1DF;
	font-family: angie-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-size: 0.75rem;
	color: #BB8472;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 0.9375rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	z-index: -1;
}

.back-to-top img {
	margin-bottom: 0.5rem;
}

.back-to-top::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 40px;
	top: 0;
	left: 0;
	opacity: 0;
	background-image: linear-gradient(to bottom, #D5B1A9 0%, #ECE1DF 90%);
	transition: opacity 250ms ease-in-out;
	z-index: -1;
}

.back-to-top:hover::after {
	opacity: 1;
}

.main-navigation {
	display: flex;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
	line-height: 1.125;
	margin-bottom: 20px;
}

.main-navigation a {
	display: block;
	color: #BB8472;
	text-decoration: none;
	font-size: 0.9375rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}

.main-navigation a:hover {
	color: #2A1048;
}

.main-navigation .current_page_item > a:not([href*='#']),
.main-navigation .current_page_parent > a:not([href*='#']),
.main-navigation .current-menu-item > a:not([href*='#']),
.main-navigation .current_page_ancestor > a:not([href*='#']),
.main-navigation .current-menu-ancestor > a:not([href*='#']) {
	color: #2A1048;
	position: relative;
}

.main-navigation .current_page_item > a:not([href*='#'])::after,
.main-navigation .current_page_parent > a:not([href*='#'])::after,
.main-navigation .current-menu-item > a:not([href*='#'])::after,
.main-navigation .current_page_ancestor > a:not([href*='#'])::after,
.main-navigation .current-menu-ancestor > a:not([href*='#'])::after {
	content: url(inc/images/icon-star-plum-small.svg);
	position: absolute;
	left: 0;
	bottom: -0.5rem;
	height: 0.75rem;
	width: 100%;
	text-align: center;
}

@media (min-width: 960px) {
	.main-navigation .current_page_item > a:not([href*='#'])::after,
	.main-navigation .current_page_parent > a:not([href*='#'])::after,
	.main-navigation .current-menu-item > a:not([href*='#'])::after,
	.main-navigation .current_page_ancestor > a:not([href*='#'])::after,
	.main-navigation .current-menu-ancestor > a:not([href*='#'])::after {
		bottom: -0.75rem;
	}
}

.main-navigation .button a {
	color: #fff;
	font-size: 0.8125rem;
}

.main-navigation .primary-menu-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #F3EEED;
}

/* Mobile menu. */
.menu-toggle {
	position: relative;
	width: 54px;
	height: 54px;
	background: transparent;
	padding: 0;
	z-index: 1;
}

.menu-toggle .icon-toggle {
	position: absolute;
	top: auto;
	bottom: 13px;
	right: 9px;
	fill: #BB8472;
	transition: opacity 250ms ease-in-out;
}

.menu-toggle .icon-toggle.closed {
	opacity: 1;
	width: 35px;
	height: 24px;
}

.menu-toggle .icon-toggle.opened {
	width: 26px;
	height: 24px;
}

.menu-toggle[aria-expanded='true'] .icon-toggle.closed {
	opacity: 0;
}

.menu-toggle[aria-expanded='true'] .icon-toggle.opened {
	opacity: 1 !important;
}

.menu-toggle:hover {
	background: transparent;
}

.menu-toggle:hover .icon-toggle {
	fill: #D5B1A9;
}

.menu-toggle:active, .menu-toggle:focus {
	outline: none;
}

.menu-toggle:active .icon-toggle, .menu-toggle:focus .icon-toggle {
	fill: #D5B1A9;
}

.main-navigation.toggled .primary-menu-container {
	display: block;
}

@media screen and (min-width: 960px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation .primary-menu-container {
		display: block;
		position: static;
		top: auto;
		left: auto;
		width: auto;
		height: auto;
	}
	.main-navigation ul {
		display: flex;
		flex-direction: row;
	}
	.main-navigation ul li {
		margin-left: 10px;
		margin-bottom: 0;
	}
	.main-navigation ul a {
		font-size: 0.8125rem;
	}
	.main-navigation ul .button {
		flex: 1 0 auto;
	}
}

@media (min-width: 960px) {
	.main-navigation ul li {
		margin-left: 1.25rem;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 780px;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 2rem auto 3rem;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

footer.site-footer .footer-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}

footer.site-footer .footer-socials {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

footer.site-footer .footer-socials::before {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	border-bottom: 1px solid #BB8472;
	z-index: -1;
}

footer.site-footer .footer-socials ul {
	list-style: none;
	padding: 0 0.5rem;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F3EEED;
}

footer.site-footer .footer-socials li {
	margin: 6px;
	line-height: 1;
}

footer.site-footer a {
	opacity: 1;
	transition: opacity 250ms ease-in-out;
}

footer.site-footer a:hover {
	opacity: 0.75;
}

footer.site-footer .footer-logo {
	padding: 1.5rem 1rem 0.5rem;
	text-align: center;
	border-bottom: 1px solid #BB8472;
}

footer.site-footer .footer-logo svg {
	fill: #BB8472;
}

footer.site-footer .site-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1rem 0.5rem;
	text-align: center;
}

footer.site-footer .site-info a {
	flex: 0 0 100%;
	width: 100%;
	margin-bottom: 0.5rem;
	font-size: 0.875rem;
	font-weight: 400;
	text-decoration: none;
	color: #BB8472;
}

footer.site-footer .dg-credit {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer.site-footer .dg-credit span {
	padding-right: 0.375rem;
}

@media (min-width: 960px) {
	footer.site-footer .site-info {
		justify-content: space-between;
		padding: 1.5rem 0;
		text-align: center;
	}
	footer.site-footer .site-info a {
		flex: 1 1 auto;
		width: 33.333%;
		margin-bottom: 0;
	}
	footer.site-footer .site-info > :first-child {
		text-align: left;
	}
	footer.site-footer .site-info > :last-child {
		text-align: right;
	}
	footer.site-footer .site-info .dg-credit {
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		flex-wrap: nowrap;
	}
	footer.site-footer .site-info .dg-credit span {
		padding-right: 0;
	}
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

#page {
	overflow-x: hidden;
	position: relative;
	margin-top: 70px;
}

.page:not(.home) main,
.blog main,
.archive main,
.search main,
.error404 main,
.single-post main {
	padding-top: 4.5rem;
}

.page-header,
.entry-header {
	margin: 0 auto 2rem;
}

.page-header .page-title,
.page-header .entry-title,
.entry-header .page-title,
.entry-header .entry-title {
	color: #BB8472;
}

.page-header .page-title a,
.page-header .entry-title a,
.entry-header .page-title a,
.entry-header .entry-title a {
	color: #BB8472;
	text-decoration: none;
}

.home .entry-header {
	display: none;
}

.error404 .page-content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}

.page-header,
.single-post .entry-header,
.page .entry-header,
.entry-footer,
.comments-area,
.entry-summary {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 780px;
}

.page-header,
.single-post .entry-header,
.page .entry-header,
.entry-footer,
.entry-summary {
	text-align: center;
}

.page-header,
.page .entry-header {
	margin: 0 auto 8rem;
}

.page-header h1,
.page .entry-header h1 {
	position: relative;
}

.page-header h1::after,
.page .entry-header h1::after {
	content: url(inc/images/icon-moon-adobe.svg);
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -3.5rem;
}

.post-thumbnail {
	display: block;
	margin: 0 auto 3rem;
	position: relative;
}

.post-thumbnail::after {
	content: '';
	position: absolute;
	width: 50%;
	height: auto;
	padding-top: 84%;
	border-radius: 400px;
	border: 1px solid #BB8472;
	top: -4%;
	left: 25%;
	z-index: 1;
}

.post-thumbnail .thumb-wrap {
	position: relative;
	width: 100%;
	padding-top: 78%;
}

.post-thumbnail .thumb-wrap img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center;
}

.post-thumbnail .placeholder {
	width: 100%;
	padding-top: 78%;
	background-color: #D5B1A9;
	position: relative;
}

.post-thumbnail .placeholder > div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.post-thumbnail .placeholder svg {
	fill: #BB8472;
	width: 225px;
	height: 180px;
	max-width: 100%;
}

.blog article,
.archive article {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	margin-bottom: 6rem;
}

.blog .post-thumbnail,
.archive .post-thumbnail {
	max-width: 460px;
}

@media (min-width: 960px) {
	.blog article .entry-header,
	.archive article .entry-header {
		text-align: center;
	}
	.blog article:first-of-type .entry-wrap,
	.archive article:first-of-type .entry-wrap {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.blog article:not(:first-of-type),
	.archive article:not(:first-of-type) {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
	.blog article:not(:first-of-type) .post-thumbnail,
	.archive article:not(:first-of-type) .post-thumbnail {
		flex: 1 1 50%;
		width: 50%;
	}
	.blog article:not(:first-of-type) .post-thumbnail::after,
	.archive article:not(:first-of-type) .post-thumbnail::after {
		width: 50%;
		padding-top: 34%;
		top: auto;
		bottom: -22%;
		left: 0;
	}
	.blog article:not(:first-of-type) .entry-wrap,
	.archive article:not(:first-of-type) .entry-wrap {
		flex: 1 0 50%;
		width: 50%;
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
	.blog article:not(:first-of-type) .entry-header,
	.archive article:not(:first-of-type) .entry-header {
		text-align: left;
	}
	.blog article:not(:first-of-type):nth-of-type(odd) .post-thumbnail,
	.archive article:not(:first-of-type):nth-of-type(odd) .post-thumbnail {
		order: 2;
	}
	.blog article:not(:first-of-type):nth-of-type(odd) .entry-wrap,
	.archive article:not(:first-of-type):nth-of-type(odd) .entry-wrap {
		order: 1;
	}
}

.single-post article {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 780px;
}

@media (min-width: 762px) {
	.single-post .entry-header {
		text-align: center;
	}
}

.single-post .post-thumbnail {
	max-width: 536px;
}

.single-post .entry-content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 780px;
	max-width: 715px;
	padding-bottom: 4rem;
}

.share-links__wrap {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 780px;
	padding: 1.5rem;
	border-top: 1px solid #BB8472;
	border-bottom: 1px solid #BB8472;
	text-align: center;
}

.share-links__wrap h4 {
	margin-top: 0;
	margin-bottom: 0.75rem;
}

.share-links__wrap .share-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.share-links__wrap a {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.read-more {
	display: inline-block;
	margin-top: 1.5rem;
}

.page-links {
	clear: both;
}

.display-posts-listing .listing-item {
	max-width: 300px;
	margin-bottom: 3rem;
}

.display-posts-listing .image,
.display-posts-listing .title,
.display-posts-listing .excerpt {
	display: block;
}

.display-posts-listing .excerpt-dash {
	display: none;
}

.display-posts-listing .title {
	color: #BB8472;
	font-family: angie-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-size: 1.3125rem;
	letter-spacing: 0.0875;
	text-decoration: none;
}

.display-posts-listing .image {
	position: relative;
	width: 100%;
	padding-top: 78%;
	margin-bottom: 1.5rem;
}

.display-posts-listing .image::after {
	content: '';
	position: absolute;
	width: 50%;
	height: auto;
	padding-top: 84%;
	border-radius: 400px;
	border: 1px solid #BB8472;
	top: -4%;
	left: 25%;
	z-index: 1;
}

.display-posts-listing .image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center;
}

@media (min-width: 762px) {
	.display-posts-listing {
		display: flex;
	}
	.display-posts-listing .listing-item {
		max-width: none;
		flex: 1 1 33.333%;
		padding: 0 1rem;
	}
}

/* Comments
--------------------------------------------- */
.comments-title {
	margin-top: 3rem;
	margin-bottom: 4rem;
}

.comment-list {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	text-align: center;
}

.comment-list li > ol,
.comment-list li > ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.comment-list .comment {
	margin-bottom: 2rem;
}

.comment-list > .comment {
	padding-left: 1rem;
	padding-right: 1rem;
	border-bottom: 1px solid #D5B1A9;
}

.comment-list .comment-body {
	margin-bottom: 2rem;
}

.comment-list .comment-meta {
	font-size: 1rem;
}

.comment-content a {
	word-wrap: break-word;
}

.comment-edit-link {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.875rem;
}

.bypostauthor {
	display: block;
}

.comments-area {
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
}

.comment-reply-title {
	margin-bottom: 1.5rem;
}

.comment-form label {
	color: #BB8472;
}

.comment-notes {
	text-align: center;
}

.comment-form-author,
.comment-form-email {
	width: 100%;
}

.comment-form-author label,
.comment-form-email label {
	display: block;
}

.comment-form-author input,
.comment-form-email input {
	width: 100%;
}

@media (min-width: 762px) {
	.comment-form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.comment-notes,
	.comment-form-comment,
	.comment-form-cookies-consent,
	.form-submit {
		width: 100%;
		flex: 0 1 auto;
		text-align: center;
	}
	.comment-form-comment {
		text-align: left;
	}
	.comment-form-author,
	.comment-form-email {
		width: 50%;
		width: calc(50% - 5px);
		flex: 0 1 auto;
	}
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 1.5em;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 780px;
}

.text-center {
	text-align: center;
}

.py {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.wp-block {
	max-width: 780px;
}

.wp-block[data-align="wide"], .wp-block[data-align="full"] {
	max-width: none;
}

.wp-block-buttons.aligncenter .wp-block-buttons .wp-block-button {
	margin-right: 4px;
	margin-left: 4px;
}

.wp-block-group:not(.alignfull) > .wp-block-group__inner-container,
.wp-block-group:not(.alignwide) > .wp-block-group__inner-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 680px;
}

@media (min-width: 960px) {
	.wp-block-group:not(.alignfull) > .wp-block-group__inner-container,
	.wp-block-group:not(.alignwide) > .wp-block-group__inner-container {
		width: 80%;
	}
}

.wp-block-group.alignwide > .wp-block-group__inner-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 780px;
}

@media (min-width: 762px) {
	.wp-block-group.alignwide > .wp-block-group__inner-container {
		width: 90%;
	}
}

.wp-block-group.alignfull > .wp-block-group__inner-container {
	width: 100%;
	max-width: none;
	margin: 0;
}

@media (min-width: 762px) {
	.wp-block-group.alignfull > .wp-block-group__inner-container {
		width: 100%;
	}
}

.wp-block-image {
	line-height: 0;
	margin: 0;
}

.wp-block-columns {
	margin-bottom: 0;
}

.wp-block-latest-posts li::before {
	display: none;
}

.wp-block-latest-posts li > a {
	color: #BB8472;
	font-family: angie-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-size: 1.3125rem;
	letter-spacing: 0.0875;
	text-decoration: none;
}

.half-half {
	width: 100%;
}

.half-half--image {
	position: relative;
}

.half-half--image img {
	display: block;
}

.half-half--content {
	padding: 60px 5%;
}

@media (min-width: 762px) {
	.half-half {
		display: flex;
		align-items: stretch;
		justify-content: stretch;
		height: 90vh;
		max-height: 760px;
	}
	.half-half--image, .half-half--content {
		flex: 1 0 50%;
		width: 50%;
		max-width: 50%;
	}
	.half-half--content {
		width: 100%;
		padding: 80px 5% 90px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
	}
	.half-half.half-half--text-text .half-half--content {
		justify-content: flex-start;
	}
}

.half-half h4 {
	flex: 1 1 auto;
	justify-self: flex-start;
}

.half-half .swiper-container {
	max-width: 100%;
	padding-bottom: 4rem;
	flex: 1 1 auto;
}

.half-half .swiper-pagination-bullet {
	background: #F3EEED;
	opacity: 0.25;
}

.half-half .swiper-pagination-bullet-active {
	opacity: 1;
}

.half-half .swiper-container-horizontal > .swiper-pagination-bullets {
	left: 1.5rem;
	width: auto;
}

@media (min-width: 762px) {
	.image--cover {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		overflow: hidden;
	}
}

[class^='image__oval'] {
	position: absolute;
	display: block;
	width: 90%;
	height: auto;
	padding-top: 60%;
	border-radius: 400px;
	border: 1px solid #D5B1A9;
	top: 10%;
	right: -5%;
	z-index: 1;
}

@media (min-width: 762px) {
	[class^='image__oval'] {
		width: 85%;
		padding-top: 55%;
	}
}

@media (min-width: 960px) {
	[class^='image__oval'] {
		width: 80%;
		padding-top: 50%;
		top: 5%;
	}
}

.image__oval--bottom {
	width: 50%;
	height: auto;
	padding-top: 34%;
	border-radius: 400px;
	border: 1px solid #BB8472;
	top: auto;
	bottom: -15%;
	left: 0;
	right: auto;
	z-index: 1;
}

.alt-text-img {
	padding-top: 6rem;
	padding-bottom: 3rem;
}

.alt-text-img h4 {
	margin-top: 0;
}

.alt-text-img .alt-text-img__row {
	margin-bottom: 6rem;
}

.alt-text-img .alt-text-img__row:nth-of-type(even) .alt-text-img--image {
	margin-left: auto;
	margin-right: 0;
}

.alt-text-img .alt-text-img--image {
	position: relative;
	max-width: 300px;
}

.alt-text-img .alt-text-img--image.has-decoration {
	margin-bottom: 6rem;
}

@media (min-width: 762px) {
	.alt-text-img .alt-text-img__row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.alt-text-img .alt-text-img__row:nth-of-type(even) .alt-text-img--image {
		order: 2;
		margin-right: 0;
		margin-left: 80px;
	}
	.alt-text-img .alt-text-img__row:nth-of-type(even) .alt-text-img--content {
		order: 1;
	}
	.alt-text-img .alt-text-img--image {
		width: 50%;
		flex: 0 1 50%;
		margin-right: 80px;
		max-width: none;
	}
	.alt-text-img .alt-text-img--image.has-decoration {
		margin-bottom: 4rem;
	}
	.alt-text-img .alt-text-img--content {
		width: 50%;
		flex: 0 1 50%;
	}
}

.acf-input input[type="text"],
.acf-input input[type="email"],
.acf-input input[type="url"],
.acf-input input[type="password"],
.acf-input input[type="search"],
.acf-input input[type="number"],
.acf-input input[type="tel"],
.acf-input input[type="range"],
.acf-input input[type="date"],
.acf-input input[type="month"],
.acf-input input[type="week"],
.acf-input input[type="time"],
.acf-input input[type="datetime"],
.acf-input input[type="datetime-local"],
.acf-input input[type="color"],
.acf-input textarea {
	border: 1px solid #7e8993;
}

.wp-block-button a,
.wp-block-button .wp-block-button__link {
	background: #2A1048;
	border: 0;
	border-radius: 1.25rem;
	color: #fff;
	cursor: pointer;
	font-size: 0.8125rem;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	padding: 0.9em 1.25em 0.9em;
}

.wp-block-button a:hover,
.wp-block-button .wp-block-button__link:hover {
	background: linear-gradient(180deg, #D5B1A9 0%, #2A1048 100%);
}

.wp-block-button a:active, .wp-block-button a:focus,
.wp-block-button .wp-block-button__link:active,
.wp-block-button .wp-block-button__link:focus {
	outline: 2px auto #BB8472;
}

.wp-block p {
	margin-top: 0;
}

.editor-styles-wrapper {
	font-family: brandon-grotesque, Futura, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif !important;
}

/*# sourceMappingURL=editor-styles.css.map */