.wp-block {
	max-width: $content-width;

	&[data-align="wide"],
	&[data-align="full"] {
		max-width: none;
	}
}

.wp-block-buttons.aligncenter {
	.wp-block-buttons .wp-block-button {
		margin-right: 4px;
		margin-left: 4px;
	}
}

.wp-block-group {}

.wp-block-group:not(.alignfull)>.wp-block-group__inner-container,
.wp-block-group:not(.alignwide)>.wp-block-group__inner-container {
	@include container-small;
}

.wp-block-group.alignwide>.wp-block-group__inner-container {
	@include container;

	@media (min-width: $medium) {
		width: 90%;
	}
}

.wp-block-group.alignfull>.wp-block-group__inner-container {
	width: 100%;
	max-width: none;
	margin: 0;

	@media (min-width: $medium) {
		width: 100%;
	}
}

.wp-block-image {
	margin: 0;
	line-height: 0;
}

.wp-block-columns {
	margin-bottom: 0;
}

.wp-block-latest-posts {
	li {
		&::before {
			display: none;
		}

		&>a {
			color: $adobe;
			font-size: 1.3125rem;
			font-family: $font__headings;
			letter-spacing: 0.0875; // 1.4px
			text-decoration: none; // 21px
		}
	}
}

.half-half {
	width: 100%;

	&--image {
		position: relative;

		img {
			display: block;
		}
	}

	&--content {
		padding: 60px 5%;
	}

	@media (min-width: $medium) {
		display: flex;
		align-items: stretch;
		justify-content: stretch;
		height: 90vh;
		max-height: 760px;

		&--image,
		&--content {
			flex: 1 0 50%;
			width: 50%;
			max-width: 50%;
		}

		&--image {
			img {}
		}

		&--content {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: center;
			width: 100%;
			padding: 80px 5% 90px;
		}

		&.half-half--text-text {
			height: auto;
			max-height: 90vh;

			.half-half--content {
				justify-content: flex-start;
			}
		}
	}
}

.half-half {
	h4 {
		flex: 1 1 auto;
		justify-self: flex-start;
	}

	.swiper-container {
		flex: 1 1 auto;
		max-width: 100%;
		padding-bottom: 4rem;
	}

	.swiper-pagination-bullet {
		background: $cream;
		opacity: 0.25;

		&-active {
			opacity: 1;
		}
	}

	.swiper-container-horizontal>.swiper-pagination-bullets {
		left: 1.5rem;
		width: auto;
	}
}

.image--cover {
	@media (min-width: $medium) {
		// position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		overflow: hidden;
	}
}

[class^='image__oval'] {
	position: absolute;
	top: 10%;
	right: -5%;
	z-index: 1;
	display: block;
	width: 90%;
	height: auto;
	padding-top: 60%;
	border: 1px solid $rose;
	border-radius: 400px;

	@media (min-width: $medium) {
		width: 85%;
		padding-top: 55%;
	}

	@media (min-width: $large) {
		top: 5%;
		width: 80%;
		padding-top: 50%;
	}
}

.image__oval--bottom {
	top: auto;
	right: auto;
	// bottom: -15%;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 50%;
	height: auto;
	padding-top: 34%;
	border: 1px solid $adobe;
	border-radius: 400px;
	transform: translateY(43%);
}

.alt-text-img {
	padding-top: 6rem; // 96px
	padding-bottom: 3rem; // 48px

	h4 {
		margin-top: 0;
	}

	.alt-text-img__row {
		margin-bottom: 6rem;

		&:nth-of-type(even) {
			.alt-text-img--image {
				margin-right: 0;
				margin-left: auto;
			}
		}
	}

	.alt-text-img--image {
		position: relative;
		max-width: 300px;

		&.has-decoration {
			margin-bottom: 6rem;
		}
	}

	.gform_wrapper {
		form {

			.gform_footer {
				text-align: left;
			}

			li {
				margin-bottom: 0;
			}

			@media (min-width: 641px) {
				margin-left: -16px;
			}
		}
	}

	@media (min-width: $medium) {

		.alt-text-img__row {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			&:nth-of-type(even) {

				.alt-text-img--image {
					order: 2;
					margin-right: 0;
					margin-left: 80px;
				}

				.alt-text-img--content {
					order: 1;
				}
			}
		}

		.alt-text-img--image {
			flex: 0 1 50%;
			width: 50%;
			max-width: none;
			margin-right: 80px;

			&.has-decoration {
				margin-bottom: 4rem;
			}
		}

		.alt-text-img--content {
			flex: 0 1 50%;
			width: 50%;
		}
	}
}
