footer.site-footer {

	.footer-container {
		@include container-large;
	}

	.footer-signup {
		padding-top: 2rem;
		padding-bottom: 1rem;
		text-align: center;
		border-top: 1px solid $adobe;

		form {
			max-width: 300px;
		}
	}

	.gfield {
		text-align: center;
	}

	.footer-socials {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: -1;
			width: 100%;
			border-bottom: 1px solid $adobe;
			content: '';
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 0 0.5rem;
			list-style: none;
			background-color: $cream;
		}

		li {
			margin: 6px;
			line-height: 1;
		}
	}

	a {
		opacity: 1;
		transition: opacity 250ms ease-in-out;

		&:hover {
			opacity: 0.75;
		}
	}

	.footer-logo {
		padding: 1.5rem 1rem 0.5rem;
		text-align: center;
		border-bottom: 1px solid $adobe;

		svg {
			fill: $adobe;
		}
	}

	.site-info {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 1.5rem 1rem 0.5rem;
		text-align: center;

		a {
			flex: 0 0 100%;
			width: 100%;
			margin-bottom: 0.5rem;
			color: $adobe;
			font-weight: 400;
			font-size: 0.875rem; // 14px
			text-decoration: none;
		}
	}

	.dg-credit {
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			padding-right: 0.375rem;
		}
	}

	@media (min-width: $large) {
		.site-info {
			justify-content: space-between;
			padding: 1.5rem 0;
			text-align: center;

			a {
				flex: 1 1 auto;
				width: 33.333%;
				margin-bottom: 0;
			}

			> :first-child {
				text-align: left;
			}

			> :last-child {
				text-align: right;
			}

			.dg-credit {
				flex-direction: column;
				flex-wrap: nowrap;
				align-items: flex-end;
				justify-content: flex-end;

				span {
					padding-right: 0;
				}
			}
		}
	}
}

.page-template-links .footer-socials::before {
	display: none;
}
