button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button a,
a.button,
.wp-block-button a,
.wp-block-button .wp-block-button__link,
.gform_footer input[type="submit"].gform_button.button {
	background: $color__background-button;
	border: 0;
	border-radius: 1.5rem; // 24px
	color: $white;
	cursor: pointer;
	font-size: 0.8125rem; // 13px
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.05rem; // 0.8px
	padding: 1em 1.25em 0.9em;
	font-weight: 400;

	&:hover {
		background: linear-gradient(180deg, $rose 0%, $plum 100%);
	}

	&:active,
	&:focus {
		outline: 2px auto $adobe;
	}
}
