$white: #fff;
$cream: #F3EEED;
$almond: #ECE1DF;
$rose: #D5B1A9;
$adobe: #BB8472;
$plum: #2A1048;
$textgray: #3B3835;
$hotpink: #DD1D72;

$color__background-body: $cream;
$color__background-screen: #f1f1f1;
$color__background-hr: $adobe;
$color__background-button: $plum;
$color__background-pre: #eee;
$color__background-ins: $almond;

$color__text-screen: #21759b;
$color__text-input: $textgray;
$color__text-input-focus: $textgray;
$color__link: $plum; //royalblue
$color__link-visited: $adobe; //purple
$color__link-hover: $adobe; //midnightblue
$color__text-main: $textgray;

$color__border-button: transparent;
$color__border-button-hover: transparent;
$color__border-button-focus: transparent;
$color__border-input: transparent;
$color__border-abbr: #666;


/* Color Utility Classes
--------------------------------------------- */
$colors:
  ( white, $white ),
  ( cream, $cream ),
  ( almond, $almond ),
  ( rose, $rose ),
  ( adobe, $adobe ),
  ( plum, $plum ),
  ( textgray, $textgray ),

;

@each $name, $color in $colors {
  // Block Editor text colors
	.has-#{$name}-color {
		color: $color;
	}
  // Block Editor background colors
	.has-#{$name}-background-color {
		background-color: $color;
	}
}
